.ButtonStyle
{
    height:20px;
    font-size:10px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    border: solid 1px #E3E3E3;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EFEFEF; /*#D5E1F1 /*#EFEFEF;*/
}

.ButtonStyle:hover 
{
	font-family:Verdana;
	font-size:10px;
	border:solid 1px #999999;
	background-color:#CCCCCC;
}

.ButtonControlStyle
{
    height:20px;
    font-size:10px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    border: solid 1px #000000; /*#E3E3E3;*/
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #5284D4; /*#EFEFEF; #D5E1F1; #EFEFEF;*/
}

.ButtonControlStyle:hover 
{
	font-family:Verdana;
	font-size:10px;
	border:solid 1px #999999;
	background-color:#CCCCCC;
}

.ButtonMenuWizardStyle
{
    font-size:10px;
    text-decoration: none;
    text-align: left;
    font-family: Verdana;
    border: solid 1px #E3E3E3;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #EFEFEF; /*#D5E1F1 /*#EFEFEF;*/
    width:123px;
}

.ButtonMenuWizardStyle:hover 
{
	border:solid 1px #999999;
	background-color:#CCCCCC;
}

.ButtonAccueilStyle
{
    font-size:11px;
    text-decoration: none;
    text-align: left;
    font-family: Verdana;
    font-weight: bold;
    border: solid 2px #E3E3E3;
    padding: 2px;
    padding-left: 1px;
    padding-right: 1px;
    background-color: #EFEFEF; /*#D5E1F1 /*#EFEFEF;*/
    width:125px;
    color: #3333CC;
    
}

.ButtonAccueilStyle:hover 
{
	border:solid 2px #999999;
	background-color:#CCCCCC;
}
