body 
{
    font-family:Verdana Arial Book Antiqua;
}

p
{
    font-family:Verdana;
    font-size:12px;
}

label
{
    font-family:Verdana;
    font-size:12px;
}


table
{
        font-family:Verdana;
    font-size:12px;

}
