/* Menu principal */
.MenuStyle a:link   
{ 
    color: #000000; /*#A1A1A1;*/
    font-weight: bold;
}

.MenuStyle a:visited
{
    color: #000000; /*#D1D1D1;*/
    font-weight: bold;
}

.MenuStyle a:hover
{
    text-decoration: none;  
    color: #5282D4; /*#A20000;*/
}

.MenuStyle a:active
{
    text-decoration: none;
    color: #000000;   
    border:none;
}

/* Menu principal */
.TdMenuStyle
{
    background-image: url(Images/td_menu_background.gif);
    background-repeat: repeat-x;
    border:none;
}

.MenuStyle
{
	font-family: Verdana;
	font-size:12px;
    background-image: url(Images/menu_background.gif);
    background-repeat: repeat-x;
    color:Black;
    border:none;
    width:100%;
}

.StaticMenuStyle
{
    color: Black;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

/* ce qu'on voit */
.StaticMenuItemStyle
{
    padding: 2px;
    padding-left: 3px;
    padding-right: 6px;
    background-image: url(Images/menu_background.gif);
    background-repeat: repeat-x;
    border-right: #E9F7FF 1px solid;
    border-top: #E9F7FF 1px solid;
    border-left: #E9F7FF 1px solid;
    border-bottom: #E9F7FF 1px solid;
}

.StaticSelectedStyle
{
	background-color:#AAAAAA;
	border:solid 1px #666666;
	padding:2px;
	padding-left:3px;
	padding-right: 6px;
}

.StaticHoverStyle
{
    background-color: #CCCCCC;
    padding: 2px;
    padding-left: 3px;
    padding-right: 6px;
    background-image: url(Images/menu_background_over.gif);
    background-repeat: repeat-x;
    border: white 1px solid;
}

/* Sous menus */
.DynamicMenuStyle a:link   
{ 
    color: #A1A1A1;
    font-weight: bold;
}

.DynamicMenuStyle a:visited
{
    color: #818181;
    font-weight: bold;
}

.DynamicMenuStyle a:hover
{
    text-decoration: none;  
    color: #5282D4; /*#D21212;*/
}

.DynamicMenuStyle
{
	font-family: Verdana;
	font-size:12px;
	border: solid 1px #999999;
}

.DynamicMenuItemStyle
{
    padding: 2px;
    padding-left: 3px;
    padding-right: 6px;
	background-color:#F1F1F1;
	border:solid 1px #F1F1F1;
}

.DynamicSelectedStyle
{
	background-color:#AAAAAA;
	border:solid 1px #666666;
}

.DynamicHoverStyle
{
	background-color:#CCCCCC;
	border:solid 1px #999999;
}

	