.LoginUserText
{
    font-weight:bold;
}

.PasswordRecoveryStyle
{
    text-align:left;
    margin:3px;
    padding:3px;
    /*border:solid 1px;*/
}

.TdLoginBannerStyle
{
    padding:20px;
}

.LabelUtilisateurAuthentifieStyle
{
    font-weight:bold;
}

#DivPageStyle
{
     border:solid 1px #C1C1C1;
     text-align:left;
     width:95%;
     padding:15px;
}

.DivPageStyle
{
     border:solid 1px #C1C1C1;
     text-align:left;
     width:95%;
     padding:15px;
}

.DivTableStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #E1F1FF;
}
    
.DivPageQuestionnaireEnCoursStyle
{
     border:solid 1px #C1C1C1;
     text-align:left;
     width:95%;
     padding:15px;
     margin:15px;
}

.DivWizardQuestionEnchaineeStyle
{
     border:solid 1px #C1C1C1;
     text-align:left;
     width:720px;
     padding:15px;
}

.DivWizardQuestionStyle
{
     border:solid 1px #C1C1C1;
     text-align:left;
     width:720px;
     padding:15px;
}

.DivPageAccueilStyle
{
    text-align:center;
    width:80%;
    padding:15px;
}

.DivPageQuestionnaireStyle
{
    /*border:solid 1px #C1C1C1;*/
    text-align:center;
    width:95%;
    padding:15px;
}

.DivPageCentreStyle
{
    border:solid 1px #C1C1C1;
    text-align:center;
    width:95%;
    padding:15px;
}

.DivPageLoginStyle
{
    /*border: solid 1px green; /* DEBUG CSS */
    text-align:center;
    width:100%;
}

.DivPageStatistiquesStyle
{
    /*border:solid 1px #C1C1C1;*/
    text-align:center;
    padding:10px;
}

.DivWebContentStyle
{
    /*border:solid 1px #C1C1C1;*/
    text-align:center;
    width:70%;
    padding:15px;
}

.DivFullWidth
{
    width:100%;
    text-align:center;
    padding-top:15px;
}

.DivMemberRegister
{
    border: solid 1px #C1C1C1;
    width:80%;
    text-align:center;
    padding:15px;
    margin-top:32px;      
    margin-left:120px;        
}

.DivQuestionnairePublication
{
    width:80%;
    text-align:center;
    padding:15px;
    margin-top:32px;      
    margin-left:120px;        
}

.ClassDivPageStyle
{
    border:solid 1px #C1C1C1;
    text-align:left;
    /*width:100%;*/
    padding:15px;
    background-color:White;
}

.DivWebContentPageStyle
{
     text-align:left;
     border:solid 1px #C1C1C1;
     padding:15px;
     width:50%;
}

#DivWebContentPageAideStyle
{
     text-align:left;
     border:solid 1px #C1C1C1;
     padding:15px;
     width:60%;
}

.DivEditeurStyle
{
    border: 1px solid #C1C1C1;
    width: 694px;
    margin-right: auto;
    margin-left: auto;
/*    background: #E6F1FA url('images/background_fullwidth.jpg') repeat-y;*/
/*    background: #FEFFAB url('images/background_fullwidth.jpg') repeat-y;*/
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.LoginNameStyle
{
    font-size:12px;
    font-family: Verdana; 
    color:#5284DC;
}

.LabelUserInRolesStyle    
{
    font-size:12px;
    font-family: Verdana; 
    color:#5284DC;
}

.TdColonneGaucheStyle
{
    /*width:150px;*/
    /*background-color:#F1F1F1;*/
}

.TableMenuWizardStyle
{
    padding: 3px;
}

.TableMenuWizardButtonStyle
{
    padding-bottom: 12px;
}

.TableAccueilButtonStyle
{
    padding-bottom: 12px;
}

.LabelStyle
{ 
    font-size:12px;
    font-weight:bold;
    font-family: Verdana; 
}

.LabelSmallBlueStyle
{ 
    color:Blue;
    font-size:10px;
    font-weight:normal;
    font-family: Verdana; 
}

.LabelNormalStyle
{ 
    font-size:12px;
    font-family: Verdana; 
}

.LabelBlueStyle
{ 
    color:Blue;
    font-size:12px;
    font-weight:normal;
    font-family: Verdana; 
}

.LabelRedStyle
{ 
    color:Red;
    font-size:12px;
    font-weight:normal;
    font-family: Verdana; 
}

.LabelGreenStyle
{ 
    color:Green;
    font-size:12px;
    font-weight:normal;
    font-family: Verdana; 
}

.LabelBoxStyle
{
    border: 1px solid #C1C1C1;
    font-size:12px;
    font-family: Verdana; 
    height:20px;
    width:220;
    text-align:left;
}

.TdLabelInvitationStyle
{
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
}

.LabelInvitationStyle
{
    border: 1px solid #C1C1C1;
    font-size:10px;
    font-family: Verdana; 
    height:20px;
    /*width:220;*/
    text-align:left;
}

.LabelValidationMessageStyle
{
  font-family: verdana; 
  font-size: 12px; 
  font-weight: normal; 
  text-align: left;
  color:Blue;
}

.LabelValidationMessageErrorStyle
{
  font-family: verdana; 
  font-size: 12px; 
  font-weight: normal; 
  text-align: left;
  color: Red;
  height:35px;
}

.CheckBoxListStyle /* c'est une table */
{
    /*border:solid 1px;*/
    padding:0px;
    vertical-align:top;
    text-align:left;
    display:inline; /* marche pas c'est une table */
}

.TextBoxStyle
{
    width:300;
}

.TdLabelStyle
{
    font-weight:bold;
    width:210px;
}

.TdLabelStyle2
{
    font-weight:bold;
    width:40%;
}

.TdLabelRegisterStyle
{
    font-weight:bold;
    width:130px;
}

.TdTextBoxStyle
{
    padding:5px;
    width:300px;
}

.TdControlButtonStyle
{
    height:80px;
}

.ClearColumnStyle
{
    margin:0;
    padding:0;
    line-height:0;
    font-size:0px;
    height:0px;
    clear: both;
}

#DivFooterStyle
{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 22px;
    color:#073467; /*#C89F3D;*/
}


/* Mettre les sections de l'admin en blue dans WebContent/Manage */
.PageSectionExclueStyle
{
    text-align:left;
    color:Blue;
}

.PageSectionNormalStyle
{
    text-align:left;
    /*color:Blue;*/
}

.HyperLinkColoredStyle a:over
{ 
    text-decoration:none;
    color:Blue;
    font-size:14px;
    font-weight:normal;
    font-family: Verdana; 
}

.HyperLinkColoredStyle
{ 
    padding:5px;
    text-decoration:none;
    color:Blue;
    font-size:14px;
    font-weight:normal;
    font-family: Verdana; 
}

.UlStyle
{
    margin: 3px 3px 3px 20px;
    list-style-type: lower-greek;
}

.PanelMemberEditStyle
{
    padding-top:5px;
}

.PanelMemberEditPourAdminStyle
{
    border-color: #3366FF;
    padding-top: 5px;
    color: #3366FF;
}

.PanelMemberEditPourLimiteApplicationStyle
{
    border-color: #11FF11;
    padding-top: 5px;
    color:Green;
}

.TableMembreEditLimitationStyle
{
    text-align: right;
    margin: 5px;
    margin-left:15px;
    /*padding: 150px; n'est pas applique par IE mais par FireFox !!!!!!! */
}

.PanelMembreDecouverteStyle
{
    /*text-align: left;*/
    border-style: none;
    padding: 3px;
    margin: 3px;
    color: #FF560B; /*background-color: #FFCC99;*/
    /*font-weight:bold; tout est en bold!!!*/
}

.PanelMembreAbonneStyle
{
    /*text-align: left;*/
    border-style: none;
    padding: 10px;
    margin: 3px;
    color: #5284D4; /*background-color: #FFCC99;*/
}

.PanelMembreNombresObjetsStyle
{
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: Blue;
}

.TableMembreDecouverteStyle
{
    text-align: right;
    margin: 5px;
    padding: 3px;
    color: #FF560B;
    /*width:90%;*/
}

.TableMembreAbonneStyle
{
    text-align: right;
    margin: 5px;
    padding: 3px;
    /*color: Red;*/
    /*width:90%;*/
}

.TdTableMembreAbonnementHead1Style
{
    width:230px;
    text-align:right;
    font-weight:bold;
}

.TdTableMembreAbonnementHead2Style
{
    width:250px;
    text-align:center;
    font-weight:bold;
}

.TableMembreNombreObjetsStyle
{
    text-align: right;
    margin: 5px;
    padding: 3px;
}

