.TextBoxRegisterStyle
{
    width: 210px;
}

.TextBoxRegisterBlueStyle
{
    width: 210px;
    color:Blue;
}

.TextBoxRegisterDisableStyle
{
    border: solid 1px #E1F1FF;
    width: 150;
    background-color:#E1F1FF;
    font-weight:bold;
}

.CheckBoxRegisterStyle
{
    width: 210px;
    font-weight:bold;
}

.TdRegisterTextBoxStyle
{
    width:220px;
    padding:5px;
    padding-left:10px;
}

.TdRegisterCheckBoxConditionStyle
{
    /*width:300px;*/
    padding:15px;
    padding-left:85px;
    /*background:#F1F1F1;*/
    text-align:center;
}

.TdRequiredFieldValidatorStyle
{
    width:190px;
    text-align:left;
}

.TdValidationSummaryStyle
{
    text-align:left;
}

.TdValidationSummaryStyle ul, li
{
    list-style-position: outside;
    list-style-type: circle;
}
