/* Titre du Site */
.TitreSite
{
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
    color: #5282D4;
    line-height: 20px;
}

.TitreSlogan
{
    text-indent: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #073467;
    line-height: 7px;
}

#poster
{
    background: url(Bandeau/bandeau.jpg) no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 95px;
}

