/* Faire croire que les deux tables n'en font qu'une */
.TableQuestionHautStyle
{
    border-width: 1px;
    border-style: solid solid none solid;
    border-color: #5284D4;
    background-color: #E1F1FF;
}
.TableQuestionBasStyle
{
    border-width: 1px;
    border-style: none solid solid solid;
    border-color: #5284D4;
    background-color: #E1F1FF;
}
.TdCelluleIcone
{
    width:16px;
}

.TableQuestionStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #E1F1FF;
}

.TableQuestionStyleAdministrateur
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #AFD791;
}

.TableReponseTextuelleStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #F5FAFF;
}

.TableQuestionControlStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #F5FAFF;
}

.TableScoreStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #F9F9F9;
}

.TableQuestionnaireStyle
{
    border-width: 1px;
    border-style: solid;
    border-color: #5284D4;
    background-color: #E1F1FF;
    text-align:left;
}

.TableQuestionReponseStyle
{
    border: solid 1px;
    margin: 2px; /*padding: 15px; non appliqué !! */
    padding: 15px;
    /*width: 80%;*/
}

.TableQuestionReponseCouranteStyle
{
    border: solid 1px #5284D4;
    margin: 20px; /*padding: 15px; non appliqué !! */
    width: 80%;
}

.PanelQuestionStyle
{
    border:solid 1px #D4D0C8;
    margin:25px;
    padding:10px;
    width:80%;
}

.QuestionnaireHyperLinkStyle
{
    
}

.QuestionnaireLabelQuestionStyle
{
    font-weight:bold;
    /*height:3px; /* applique mais pas dans le flux ... ???? */
    color:Black;
    padding:0px;
}

.CellTextBoxQuestionTextuelleStyle
{
    text-align:left;
}

.LabelQuestionTextuelleStyle
{
    color:#0F0F9F;
    padding:0px;
    text-align:right;
}

.QuestionnaireRadioButtonListLeftStyle
{
    /*padding:70px; /* pas appliqué !!!!!! ?????? */
    text-align:left;
}

.QuestionnaireRadioButtonListRightStyle
{
    /*padding:70px; /* pas appliqué !!!!!! ?????? */
    text-align:right;
}

.QuestionnaireLabelMessageUtilisateurStyle
{
    color:Blue;
}

.DropDownListGridViewStyle
{
    border: 1px solid #C1C1C1;
    background-color: #E8F5FF;
}

.TextBoxRangQuestionStyle
{
    padding: 5px;
    font-family: Arial;
    color: #0000CC;
    border-color: #0000FF;
    border-width:4px;
    border-style: solid;
    font-weight: bold;
    font-size: 24px;
    width:50px;
}

.PanelPageQuestionStyle
{
    margin:8px;
    padding:28px;
    border: solid 1px;
}