#DivBarreNavigationStyle a
{
    text-decoration: none;
    color: #000000;
    padding:3px;
}

#DivBarreNavigationStyle a:hover
{
    text-decoration: underline;
    background-color: #F1F1F1;
}

.TableSiteMapPath
{
	/*
    background-color:#F1F1F1;
	width:110%;
	margin:0px;
	border-bottom:solid 1px #CCCCCC;
    */
}

.TdSiteMapPath
{
	/*background-color:#F1F1F1;*/
}

.SiteMapPathStyle
{
	vertical-align: middle;
	padding-left: 10px;
	/*padding-right: 10px;*/
	font-family: Verdana;
	font-size: 12px;
	font-weight:bold;
	/*font-weight:bold;*/
}

/* !!!!!!!!!! rien a faire ca marche pas !!!!!!!!!!!!!!!!!!!!!
** ces styles ne sont pas appliques
*/
.CurrentNodeStyle
{
	color:#5282D4;
}

.PathSeparatorStyle
{
	color:#999999;
}