.TdStatQuestionnaireLabelStyle
{
    padding:10px;
}

.LabelQuestionnaireStyle
{
    font-size:14px;
    font-weight:bold;
}

.TdStatQuestionLabelStyle
{
    padding-top:5px;
    padding-left:15px;
}

.LabelQuestionStyle
{
    color:Black; /*color:Blue;*/
}

/*--- Sous-population ---*/

.TableSousPopulationStyle
{
    width:100%;
}

.TdSousPopulationStyle
{
    text-align: left;
}

.LabelSousPopulationStyle
{
    color:Blue;
}

/*----------------------*/

.TableReponsePersonneStyle
{
    color:Blue;
}

.TableStatAllStyle
{
    /*border:solid 1px;*/
    padding:20px;
    text-align:left;
}

.TableReponseCellPix
{
    width:20px;
    /*background-color:Green;*/
}

.TdHeaderReponseTableLeftStyle
{
    font-weight:bold;
    text-align:left;
    /*padding-left:25px;*/
}

.TdHeaderReponseTableCenterStyle
{
    font-weight:bold;
    text-align:center;
    /*padding-left:25px;*/
}

.TdStatTableStyle
{
    color:Gray;
    font-weight:normal;
    text-align:center;
    /*padding-left:25px;*/
}

.TdStatTableDateStyle
{
    font-size:9px;
}

.TdVoteTableStyle
{
    color:Red;
    font-weight:bold;
    text-align:center;
}

.TdTotalVoteTableStyle
{
    /*font-weight:bold;*/
    font-size:12px;
    padding-left:25px;
    padding-top:4px;
    padding-bottom:6px;
    text-align:left;
}